/* 
основной шрифт страницы Roboto 
шрифт логотипа Raleway 700

Weight ссылок и кнопок на странице портфолио 500
Weight абзацев 400
Weight заголовков 700

цвета
основной цвет абзацов #757575;
вторичный цвет заголовков, ссылок #212121;
белый цвет для кнопок и заголовков #FFFFFF

основной цвет фона #E5E5E5
вторичный цвет фона #F5F4FA
цвет для сылок с эфектом ховер #2196F3
*/

/* :root { 
  --primary-text-color:#757575
  --title-text-color:#212121
  --accent-color:#2196F3
  --primary-white-color:#FFFFFF
}*/

body {
  font-family: roboto, sans-serif;
  color: #757575;
}
/* лого */
.logo {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #212121;
  text-decoration: none;
}
.logo-web {
  color: #2196f3;
}
/* навигация */
.nav-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: #212121;
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
/* почта+телефон */
.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  cursor: pointer;
}
.mail {
  color: #757575;
  text-decoration: none;
}
.mail:hover,
.mail:focus {
  color: #2196f3;
}
.tel {
  color: #757575;
  text-decoration: none;
}
.tel:hover,
.tel:focus {
  color: #2196f3;
}
/* герой */

.hero-titel {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: #212121;
}
.button-hero {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}
/* секция ПРЕИМУЩЕСТВА страница "студия" */
.description-titel {
  display: none;
}
.description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: #212121;
}
.description-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* секция ЧЕМ МЫ ЗАНИМАЕМСЯ страница "студия" */
.jobs {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: #212121;
}
/* секция команда страница "студия" */

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: #212121;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #212121;
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}
/* футер */
.address {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}
.address:hover,
.address:focus {
  color: #2196f3;
}

/* СТРАНИЦА портфолио */

/* кнопки навигации */
.buttons-filters {
  display: none;
}

.button-all {
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
}
.button-all:hover,
.button-all:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.button-website {
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
}
.button-website:hover,
.button-website:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.button-app {
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
}
.button-app:hover,
.button-app:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.button-disign {
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
}
.button-disign:hover,
.button-disign:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.button-marketing {
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
}
.button-marketing:hover,
.button-marketing:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* СЕКЦИЯ портфолио */
.portfolio-titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
